.task {
  width: 90%;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.update, .delete {
  width: 20%;
  margin-right: 10px;
}

.update {
  background-color: rgb(145, 165, 255);
}

.delete {
  background-color: rgb(255, 147, 147);
}