@media screen and (min-width: 200px) and (max-width: 500px) {
 body{
  overflow: auto;
 }

 h1, h2 {
  text-align: center;
 }

  .main {
  flex-direction: column;
 } 

 .home, .tasks_container {
  width: 90vw;
 }

 .home {
  margin-bottom: 30px;
 }

 .task {
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  overflow-x: hidden;
 }

 .tasks_container {
  margin: auto;
 }

 .button_container {
  display: flex;
  justify-content: space-evenly;
 }

 .delete, .update {
  width: 50%;
 }

 p {
  width: 90%;
 }

 .new_task, .update_task {
  width: 70%;
 }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  body{
    overflow: auto;
   }
  
    .main {
    flex-direction: column;
   } 
  
   .home, .tasks_container {
    width: 80vw;
   }

   .home {
    margin-bottom: 30px;
   }
  
   .task {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    overflow-x: hidden;
   }
  
   .tasks_container {
    margin: auto;
    overflow-x: hidden;
   }
  
   .delete, .update {
    width: 30%;
   }
  
   p {
    width: 90%;
   }

   .new_task, .update_task {
    width: 60%;
   }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .home {
    height: 50vh;
  }
}